{% extends "base.html" %}

{% block content %}

<div class="container fluid">
  <div class="row justify-content-center">
    <div class="col-auto card-body">
      <h2 class="card-title"> About Us</h2>
        <p class="card-text">
          This blog is all about trails! Here you can read about hiking trails all around Sweden.</p>
      <p class="card-text">
          Swedens mountains can be hard to navigate, and finding a good hiking trail that fits your capabilities
          can be even harder. Here at Hikers Guide you can find information about different hiking trails all around Sweden.
          Read about a trail and see if it fits you!
          </p>
          
      <div class="center-text">
        <p class="card-text">Create your account here!</p>
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
